.customnav {
	background-color: #66CCFF;
}

.carousel-custom {
	background-color: 150;

}
.header_style {
	font-family: Josefin Slab;
	font-size: 35px;
	color: #000000;
	position: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}